---
title: Products &amp; Services 
---

<section class="u-hero services">
	<div class="container">
		<div class="u-screen"></div>
		<div class="u-foreground">
			<h1>Products &amp; Services</h1>
		</div>
	</div>
</section>

<section class="l-services-body">
	<div class="container">
		<h2>Products &amp; Services</h2>
		<h4>Turnkey Direct Digital Control Systems</h4>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/pm.png' %>
				<h5>Project Management</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/engineering.png' %>
				<h5>Engineering</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/programming.png' %>
				<h5>Programming</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/installation.png' %>
				<h5>Installation</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/commissioning.png' %>
				<h5>Commissioning / Retro – Commissioning</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/training.png' %>
				<h5>Training</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/monitor.png' %>
				<h5>Energy Monitoring &amp; Efficiency Reporting</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/lighting.png' %>
				<h5>Lighting Control</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'icons/remote.png' %>
				<h5>Remote Building Monitoring</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-sm-offset-4">
				<%= image_tag 'icons/service.png' %>
				<h5>Maintenance and 24/7 Service</h5>
			</div>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="container">
		<div class="u-forground">
			<h2>Get Started</h2>
			<p>
				Maximize your buildings comfort, security, and efficiency.
			</p>
			<%= link_to 'Contact Us', 'contact.html', :class=>'button button-green' %>
		</div>
	</div>
</section>