---
title: Projects
---

<section class="u-hero projects">
	<div class="container">
		<div class="u-screen"></div>
		<div class="u-foreground">
			<h1>Projects</h1>
		</div>
	</div>
</section>

<section class="margin-lg">
	<section class="container">
		<h2 class="u-blue-title">Projects</h2>
	</section>

	<section class="l-projects-body">
		<div class="container">
			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-8 col-md-height">
						<h2>Citizen Hotel</h2>				 
						<h4>Sacramento, CA</h4>
						<p>
							The Citizen Hotel project consisted of the renovation of a historic 14-story office building into a 198-room boutique hotel and restaurant located on J Street in Downtown Sacramento.  The $40 million, 135,000-square-foot, design/build full-service hotel reflects the authentic and eclectic ambience of the surrounding community.
						</p>
					</div>
					<div class="col-xs-12 col-md-4 col-md-height col-middle">
						<%= image_tag 'projects/citizens.jpg' %>
					</div>
				</div>
			</div>

			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-4 col-md-height col-middle">
						<%= image_tag 'projects/digitech.jpg' %>
					</div>
					<div class="col-xs-12 col-md-8 col-md-height">
						<h2>Digital Technology Laboratory Corporation Headquarters</h2>				 
						<h4>Davis, CA</h4>
						<p>
							Located in Davis, California, the Digital Technology Laboratory Corporation (DTL) Headquarters project was a $15 million, 70,000-square-foot, LEED Gold Certified,  built-to-suit facility. The new state-of-the-art facility consisted of office and laboratory space that housed the research and development branch, DTL, of the international machine tool company, Mori Seiki Company, Ltd.
						</p>
					</div>
				</div>
			</div>

			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-8 col-md-height">
						<h2>500 Capitol Mall</h2>				 
						<h4>Sacramento, CA</h4>
						<p>
							The 500 Hundred Capitol Mall building (commonly known as the Bank of the West Tower) stands a lustrous 25-stories tall in the heart of Sacramento’s business district.  The $110 million, 430,000 square foot, design/build Class “A” office building provides its tenants with an elite business experience and panoramic views of the Sacramento skyline, Sierra Nevadas and the Capitol Rotunda.
						</p>
					</div>
					<div class="col-xs-12 col-md-4 col-md-height col-middle">
						<%= image_tag 'projects/500.jpg' %>
					</div>
				</div>
			</div>

			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-4 col-md-height col-middle">
						<%= image_tag 'projects/ziggurat.jpg' %>
					</div>
					<div class="col-xs-12 col-md-8 col-md-height">
						<h2>Ziggurat Building</h2>				 
						<h4>West Sacramento, CA</h4>
						<p>
							Undoubtedly one of Sacramento’s most recognized landmarks, the terraced-stepped, pyramid-designed Ziggurat Building is a 10-story, 400,000-square-foot office building that was constructed utilizing the design/build delivery method.  The building was originally built for The Money Store’s western headquarters’ operations; however, today the building is occupied by the State of California’s Department of General Services (DGS).
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<section class="u-cta">
	<div class="container">
		<div class="u-forground">
			<h2>Get Started</h2>
			<p>
				Maximize your buildings comfort, security, and efficiency.
			</p>
			<%= link_to 'Contact Us', 'contact.html', :class=>'button button-green' %>
		</div>
	</div>
</section>