---
title: Projects
---

<section class="u-hero projects">
	<div class="container">
		<div class="u-screen"></div>
		<div class="u-foreground">
			<h1>Projects</h1>
		</div>
	</div>
</section>

<section class="margin-lg">
	<section class="container">
		<h2 class="u-blue-title">Projects</h2>
	</section>

	<section class="l-projects-body">
		<div class="container">
			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-6 col-md-height">
						<h2>Project Title</h2>				 
						<p>
							Lorem ipsum Anim cupidatat laborum ex irure amet dolore voluptate voluptate non consequat adipisicing exercitation amet irure elit pariatur sit Ut eu dolore dolor ullamco voluptate id ut reprehenderit commodo nulla do Ut irure.
						</p>
						<%= link_to 'View Project', 'javascript:void(0);', :class=>'button' %>			
					</div>
					<div class="col-xs-12 col-md-6 col-md-height col-middle">
						<%= image_tag 'http://placehold.it/640x320' %>
					</div>
				</div>
			</div>

			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-6 col-md-height col-middle">
						<%= image_tag 'http://placehold.it/640x320' %>
					</div>
					<div class="col-xs-12 col-md-6 col-md-height">
						<h2>Project Title</h2>				 
						<p>
							Lorem ipsum Anim cupidatat laborum ex irure amet dolore voluptate voluptate non consequat adipisicing exercitation amet irure elit pariatur sit Ut eu dolore dolor ullamco voluptate id ut reprehenderit commodo nulla do Ut irure.
						</p>
						<%= link_to 'View Project', 'javascript:void(0);', :class=>'button' %>			
					</div>
				</div>
			</div>

			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-6 col-md-height">
						<h2>Project Title</h2>				 
						<p>
							Lorem ipsum Anim cupidatat laborum ex irure amet dolore voluptate voluptate non consequat adipisicing exercitation amet irure elit pariatur sit Ut eu dolore dolor ullamco voluptate id ut reprehenderit commodo nulla do Ut irure.
						</p>
						<%= link_to 'View Project', 'javascript:void(0);', :class=>'button' %>			
					</div>
					<div class="col-xs-12 col-md-6 col-md-height col-middle">
						<%= image_tag 'http://placehold.it/640x320' %>
					</div>
				</div>
			</div>

			<div class="row padding-md">
				<div class="row-height">
					<div class="col-xs-12 col-md-6 col-md-height col-middle">
						<%= image_tag 'http://placehold.it/640x320' %>
					</div>
					<div class="col-xs-12 col-md-6 col-md-height">
						<h2>Project Title</h2>				 
						<p>
							Lorem ipsum Anim cupidatat laborum ex irure amet dolore voluptate voluptate non consequat adipisicing exercitation amet irure elit pariatur sit Ut eu dolore dolor ullamco voluptate id ut reprehenderit commodo nulla do Ut irure.
						</p>
						<%= link_to 'View Project', 'javascript:void(0);', :class=>'button' %>			
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<section class="u-quote-section">
	<div class="u-screen green"></div>
	<div class="container">
		<div class="u-forground">
			<h2 class="u-quote">
				<i class="fa fa-quote-right"></i>Lorem ipsum Exercitation ex sed aute in sed qui et minim aliquip. In sed qui et minim aliquid. Lorem ipsum Sint aliqua ea officiat commodo qui amet sit Ut aute dolore est enim ullamco.<i class="fa fa-quote-left"></i>
			</h2>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="u-screen dark-blue"></div>
	<div class="container">
		<div class="u-forground">
			<h2>Contact Us</h2>
			<p>
				Lorem ipsum Occaecat dolore ut aute non ea consequat anim cillum eiusmod dolor aliquip reprehenderit minim in ad et ad quis nisi anim in dolor reprehenderit minim.
			</p>
			<%= link_to 'Contact Us', 'contact.html', :class=>'button button-green' %>
		</div>
	</div>
</section>