---
title: TABB &amp; Fire Life Safety
---

<section class="u-hero safety">
	<div class="container">
		<div class="u-screen"></div>
		<div class="u-foreground">
			<h1>TABB &amp; Fire Life Safety</h1>
		</div>
	</div>
</section>

<section class="l-safety-body padding-lg">
	<div class="container">
		<h2 class="u-blue-title">TABB &amp; Fire Life Safety</h2>
		<div class="row padding-xs">
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'http://placehold.it/540x240' %>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'http://placehold.it/540x240' %>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'http://placehold.it/540x240' %>
			</div>
		</div>
		<div class="padding-sm">
			<p>
				Lorem ipsum Ad eu nostrud sint eiusmod eu aliqua et officia ad proident ut ad in amet laborum ut dolore occaecat dolore voluptate. Ipsum Ad eu nostrud sint eiusmod eu aliqua et officia ad proident ut ad in amet laborum ut dolore occaecat dolore voluptate. Lorem ipsum Ad eu nostrud sint eiusmod eu aliqua et officia ad proident ut ad in amet laborum ut dolore occaecat dolore voluptate. Ipsum Ad eu nostrud sint eiusmod eu aliqua et officia ad proident ut ad in amet laborum ut dolore occaecat dolore voluptate.
			</p>
			<%= link_to 'View PDF', 'javascript:void(0);', :class=>'button' %>	
		</div>
	</div>
</section>

<section class="u-quote-section">
	<div class="container">
		<div class="u-forground">
			<h2 class="u-quote">
				<i class="fa fa-quote-right"></i>Lorem ipsum Exercitation ex sed aute in sed qui et minim aliquip. In sed qui et minim aliquid. Lorem ipsum Sint aliqua ea officiat commodo qui amet sit Ut aute dolore est enim ullamco.<i class="fa fa-quote-left"></i>
			</h2>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="u-screen dark-blue"></div>
	<div class="container">
		<div class="u-forground">
			<h2>Contact Us</h2>
			<p>
				Lorem ipsum Occaecat dolore ut aute non ea consequat anim cillum eiusmod dolor aliquip reprehenderit minim in ad et ad quis nisi anim in dolor reprehenderit minim.
			</p>
			<%= link_to 'Contact Us', 'contact.html', :class=>'button button-green' %>
		</div>
	</div>
</section>